.env

# ignore virtual environment
venv/

# ignore python bytecode
__pycache__/
*.py[cod]

# ignore ipynb metadata and checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# ignore private datasets
*.csv

# ignore local test dir
model/

.vercel
