:root {
    /* header styles rules */
    --header-background-color: #222e3c;
    --header-font-size-title: 24px;
    --item-card-border-color: #E1E3EA;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    overflow-y: scroll;
}

#header-container {
    height: 80px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    color: white;
    background-color: var(--header-background-color);
    animation: FadeIn 0.5s ease-in forwards;
}

#header-container > span {
    font-size: var(--header-font-size-title);
    font-family: var(--font-family-inter);
    font-weight: 700;
    opacity: 0;
    transform: translateY(-100%);
    animation: headerTitleFlyIn 1s ease-out forwards;
    animation-delay: 0.5s;
}
@keyframes headerTitleFlyIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#main-container {
    padding: 20px 20px 20px;
}

#main-container > #content {
    padding-top: 20px;
    position: relative;
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
}
#content > #search-form {
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: FadeIn 0.5s ease-out forwards;
    animation-delay: 0.5s;
}
#content > #search-form > button#clear-search-btn  {
    border-radius: 6px;
    margin-left: -108px;
    margin-right: 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}
#content > #search-form > button#clear-search-btn:hover {
    background-color: #e0dfdf;
    cursor: pointer;
}
#content > #search-form > button#clear-search-btn.show {
    visibility: visible;
    opacity: 1;
}
#search-form input {
    width: 300px;
    height: 35px;
    padding: 0 15px;
    border: 2px solid gray;
    border-right: none !important;
    background-color: rgb(242, 243, 247);
    border-radius: 6px 0 0 6px;
    transition: background-color 0.3s ease;
}
#search-form input:focus {
    background-color: rgb(216, 227, 248);
    outline: none;
}
#search-form #search-btn {
    width: 40px;
    padding: 0;
    border: 2px solid gray;
    border-radius: 0 6px 6px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-form #search-btn:hover {
    background-color: #e0dfdf;
    cursor: pointer;
    user-select: none;
}
#search-btn img {
    height: 15px;
    -webkit-user-drag: none;
}

#main-container > #content > #item-container {
    min-height: 500px;
    padding: 20px 37.5px;
    margin: 20px auto;
    background-color: rgb(245, 248, 250);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    animation: FadeIn 1.5s ease-out forwards;
}
#main-container > #content hr {
    width: 100%;
    border: 1px solid black;
    margin: 0;
    margin-bottom: 1rem;
}
.item-section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    animation: FadeIn 1s ease-out forwards;
}
.item-section:not(:last-child) {
    margin-bottom: 40px;
}
.item-section span.section-title {
    width: 100%;
    font-size: 24px;
    font-family: var(--font-family-monstserrat);
    font-weight: 700;
}
.item-section .item-card {
    width: calc((100% - 16px) / 2);
    height: 150px;
    padding: 10px;
    background-color: rgb(245, 248, 250);
    border: 1px solid var(--item-card-border-color);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    display: flex;
    opacity: 0;
}
#main-container > #content > #item-container > .item-section > .msg-box {
    padding-left: 20px;
}
.item-card .item-img {
    width: 120px;
    color: #d3d4da;
    font-size: 80px;
    background-color: #2e3d4f;
    border: 1px solid var(--item-card-border-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: zoom-in;
    user-select: none;
}
.item-card .item-information {
    width: 100%;
    padding: 10px;
}
.item-information .book-name, .item-information .book-author {
    line-height: 22px;
    display: block;
    font-family: var(--font-family-inter);
}
.item-information .book-name {
    min-height: 37px;
    max-height: 66px;
    margin-bottom: 10px;
    font-weight: 700;
    display: block;
}
.item-information .book-author {
    display: block;
    font-size: 14px;
}