:root {
    /* header styles rules */
    --header-background-color: rgb(253, 201, 134);
    --header-font-size-title: 24px;
}

body {
    overflow-y: auto;
}

#header-container {
    height: 80px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: var(--header-background-color);
    animation: headerFadeIn 0.5s ease-in;
}
@keyframes headerFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#header-container > span {
    font-size: var(--header-font-size-title);
    font-family: var(--font-family-inter);
    font-weight: 700;
    opacity: 0;
    transform: translateY(-100%);
    animation: headerTitleFlyIn 1s ease-out forwards;
    animation-delay: 0.5s;
}
@keyframes headerTitleFlyIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#main-container {
    padding: 20px 20px 20px;
}

#main-container > #content {
    padding-top: 20px;
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
}
#content > #search-form {
    display: flex;
    justify-content: center;
}
#search-form button:first-child {
    margin-left: -93px;
    margin-right: 13px;
}
#search-form input {
    width: 300px;
    height: 35px;
    padding: 0 15px;
    border: 2px solid gray;
    border-right: none !important;
    border-radius: 6px 0 0 6px;
}
#search-form input:focus {
    outline: none;
}
#search-form #search-btn {
    width: 40px;
    padding: 0;
    border: 2px solid gray;
    border-radius: 0 6px 6px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-form #search-btn:hover {
    background-color: #e0dfdf;
    cursor: pointer;
    user-select: none;
}
#search-btn img {
    height: 15px;
    -webkit-user-drag: none;
}

#content > #item-container {
    width: 1300px;
    padding: 20px;
    margin: 20px auto;
}
#item-container::-webkit-scrollbar {
    width: 8px;
}
#item-container::-webkit-scrollbar-track {
    background-color: rgb(226, 212, 195);
}
#item-container::-webkit-scrollbar-thumb {
    background-color: rgb(186, 159, 125);
}
#item-container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(160, 137, 108);
}
.item-card {
    --item-card-border-color: rgb(210, 195, 175);
}
.item-section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}
.item-section:not(:last-child) {
    margin-bottom: 40px;
}
.item-section span.section-title {
    width: 100%;
    font-size: 20px;
    font-family: var(--font-family-inter);
}
.item-section .item-card {
    width: calc((100% - 16px) / 2);
    height: 150px;
    padding: 10px;
    background-color: rgb(248, 236, 220);
    border: 1px solid var(--item-card-border-color);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    display: flex;
}
.item-card .item-img {
    width: 120px;
    color: rgb(205, 165, 108);
    font-size: 80px;
    border: 1px solid var(--item-card-border-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: zoom-in;
    user-select: none;
}
.item-card .item-information {
    width: 100%;
    padding: 10px;
}
.item-information .book-name, .item-information .book-author {
    line-height: 22px;
    display: block;
    font-family: var(--font-family-inter);
}
.item-information .book-name {
    min-height: 37px;
    max-height: 66px;
    margin-bottom: 10px;
    font-weight: 700;
    display: block;
}
.item-information .book-author {
    display: block;
    font-size: 14px;
}