<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/linkLoader.js"></script>
    <title>Index</title>
    <!-- Prevent FOUC -->
    <style>html{visibility: hidden;}</style>
</head>
<body>
    <div id="header">
        <span>Book Recommendation System Using Apriori Algorithm</span>
    </div>
    <script>
        const links = new Links(['main', 'index']);
        links.generate();
    </script>
</body>
</html>