<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/linkLoader.js"></script>
    <title>Index</title>
    <!-- Prevent FOUC -->
    <style>body{visibility: hidden;}</style>
</head>
<body>
    <div id="header-container">
        <span>Book Recommendation System Using Apriori Algorithm</span>
    </div>
    <div id="main-container">
        <div id="content">
            <form id="search-form" method="POST" autocomplete="off">
                <button id="clear-search-btn" title="Hapus kata kunci pencarian" type="button">Clear Search</button>
                <input type="text" id="search-term" placeholder="Cari buku...">
                <button type="submit" id="search-btn" title="Search">
                    <img src="static/assets/images/icon_search.png" alt="search-icon">
                </button>
            </form>
            <div id="item-container"></div>
        </div>
    </div>
    <script>
        const links = new Links([
            'main',
            'index',
            'icon_books'
        ]);
        links.generate();
        generateRecommendedBooks();

        // Debug console
        let debugMode = false;
        const debug = (func, value = '') => {
            if (!debugMode) return;
            if (func && typeof func) value.length == 0 ? func() : func(`Debug Mode (On) =>`, value);
            else console.warn("Warning: Calling a non function property on debug mode");
        }

        // Item Container
        const itemContainer = document.getElementById('item-container');
        const sectionLine = () => {return document.createElement('hr')};
        
        // Search Related
        const searchInput = document.getElementById('search-term');
        const clearSearchBtn = document.getElementById('clear-search-btn');
        clearSearchBtn.addEventListener('click', function() {
            searchInput.value = '';
            itemContainer.replaceChildren();
            generateRecommendedBooks();
            clearSearchBtn.classList.remove('show');
        });

        // Most borrowed books - MBB (ketika search-input kosong)
        const itemSection_MBB = Object.assign(document.createElement('div'), {
            className: 'item-section',
            id: 'most-borrowed-section',
        });
        const sectionTitle_MBB = Object.assign(document.createElement('span'), {
            className: 'section-title',
            innerHTML: 'Most Borrowed Books',
            style: 'text-align:center',
        });
        itemSection_MBB.append(sectionTitle_MBB, sectionLine());

        // Result books - RSB (hasil pencarian dari input pencarian)
        const itemSection_RSB = Object.assign(document.createElement('div'), {
            className: 'item-section',
            id: 'result-books',
        });
        const sectionTitle_RSB = Object.assign(document.createElement('span'), {
            className: 'section-title', 
            innerHTML: 'Result Books:',
        });

        // Recommend books - RB (rekomendasi yang berkaitan dengan hasil pencarian)
        const itemSection_RB = Object.assign(document.createElement('div'), {
            className: 'item-section',
            id: 'recommended-books',
        });
        const sectionTitle_RB = Object.assign(document.createElement('span'), { 
            className: 'section-title',
            innerHTML: 'Recommended Books:',
        });

        function generateRecommendedBooks() {
            fetch('/api/data')
                .then(response => response.json())
                .then((e) => {
                    
                    e.data.forEach((book, idx) => {
                        // Item Card
                        const itemCard  = Object.assign(document.createElement('div'), { className: 'item-card' });
                        itemCard.style.animation = 'FadeIn 0.5s ease-out forwards';
                        itemCard.style.animationDelay = `${idx*0.1}s`;
                        const itemImage = Object.assign(document.createElement('span'), { className: 'item-img material-symbols-outlined', innerHTML: 'library_books' })
                        // Item Information
                        const itemInfo = Object.assign(document.createElement('div'), {
                            className: 'item-information'
                        });
                        const bookName = Object.assign(document.createElement('span'), {
                            className: 'book-name',
                            innerHTML: `${book['judul_buku']}`,
                        });
                        const bookAuthor = Object.assign(document.createElement('span'), {
                            className: 'book-author',
                            innerHTML: `Pengarang: ${book['pengarang']}`
                        });
                        itemInfo.append(bookName, bookAuthor);
                        itemCard.append(itemImage, itemInfo);
                        itemSection_MBB.appendChild(itemCard);
                    });
                    itemContainer.appendChild(itemSection_MBB)
                    console.clear()
                    console.log(itemSection_MBB)
                });
        }

        // SEARCHING-EVENT-HANDLER
        document.getElementById('search-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const searchTerm = searchInput.value;
            if (searchTerm.trim().length > 0) {
                clearSearchBtn.classList.add('show');
                debug(console.log, searchTerm);
            }
            else {
                clearSearchBtn.classList.remove('show');
                clearSearchBtn.dispatchEvent(new Event('click'));
                return;
            }

            fetch('/search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({ 'search_term': searchTerm })
            })
            .then(response => response.json())
            .then(e => {
                // Delete all child element
                itemContainer.replaceChildren();

                // RESULTS
                itemSection_RSB.replaceChildren();
                itemSection_RSB.appendChild(sectionLine());
                if (e.results.length > 0) {
                    e.results.forEach((book, idx) => {
                        // Item Card
                        const itemCard  = Object.assign(document.createElement('div'), { className: 'item-card' });
                        itemCard.style.animation = 'FadeIn 0.5s ease-out forwards';
                        itemCard.style.animationDelay = `${idx*0.1}s`;
                        const itemImage = Object.assign(document.createElement('span'), { className: 'item-img material-symbols-outlined', innerHTML: 'library_books' })
                        // Item Information
                        const itemInfo = Object.assign(document.createElement('div'), {
                            className: 'item-information'
                        });
                        const bookName = Object.assign(document.createElement('span'), {
                            className: 'book-name',
                            innerHTML: `${book['judul_buku']}`
                        });
                        const bookAuthor = Object.assign(document.createElement('span'), {
                            className: 'book-author',
                            innerHTML: `Pengarang: ${book['pengarang']}`
                        });
                        itemInfo.append(bookName, bookAuthor);
                        itemCard.append(itemImage, itemInfo);
                        itemSection_RSB.appendChild(itemCard);
                    });
                } 
                else {
                    const msg = Object.assign(document.createElement('span'), {
                        className: 'msg-box result-msg',
                        innerHTML: `Pencarian dengan kata kunci '${searchTerm}' tidak ditemukan`,
                    });
                    itemSection_RSB.insertAdjacentElement('beforeend', msg);
                }
                itemSection_RSB.insertAdjacentElement('afterbegin', sectionTitle_RSB)
                itemContainer.appendChild(itemSection_RSB)
                debug(console.log, itemSection_RSB);

                // RECOMMENDED
                itemSection_RB.replaceChildren();
                itemSection_RB.appendChild(sectionLine());
                if (e.recommended_books.length > 0) {
                    e.recommended_books.forEach((book) => {
                        // Item Card
                        const itemCard  = Object.assign(document.createElement('div'), { className: 'item-card' });
                        itemCard.style.animation = 'FadeIn 0.5s ease-out forwards';
                        itemCard.style.animationDelay = `${idx*0.1}s`;
                        const itemImage = Object.assign(document.createElement('span'), { className: 'item-img material-symbols-outlined', innerHTML: 'library_books' })
                        // Item Information
                        const itemInfo = Object.assign(document.createElement('div'), {
                            className: 'item-information'
                        });
                        const bookName = Object.assign(document.createElement('span'), {
                            className: 'book-name',
                            innerHTML: `${book['judul_buku']}`
                        });
                        const bookAuthor = Object.assign(document.createElement('span'), {
                            className: 'book-author',
                            innerHTML: `Pengarang: ${book['pengarang']}`
                        });
                        itemInfo.append(bookName, bookAuthor);
                        itemCard.append(itemImage, itemInfo);
                        itemSection_RB.appendChild(itemCard);
                    });
                }
                else {
                    const msg = Object.assign(document.createElement('span'), {
                        className: 'msg-box recommended-msg',
                        innerHTML: `Rekomendasi tidak ditemukan. Hasil pencarian buku diperlukan.`,
                    });
                    itemSection_RB.insertAdjacentElement('beforeend', msg);
                }
                itemSection_RB.insertAdjacentElement('afterbegin', sectionTitle_RB);
                itemContainer.appendChild(itemSection_RB)
                debug(console.log, itemSection_RB);
            })
            .catch(error => {
                console.error("Error fetching data", error);
            });
        });

        window.onload = () => {
            document.body.style.visibility = 'visible';
        };
    </script>
</body>
</html>